# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/

# Ionic
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.sourcemaps/

.DS_Store
Thumbs.db
